.menu-categories {
  background-color: #cb1f40;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;
  font-weight: 400;
  border-radius: 20px;
}
.menu-categories_link {
  color: #0c1f2c;
}
/*
 #f0f0f4
*/
