.header_top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

.header_adress {
  position: relative;
}
/*.header_adress::before {
  content: "";
  position: absolute;
  background-image: url("../images/phone-call.svg");
  width: 30px;
  height: 30px;
  left: -34px;
}
*/
