.productItem {
  display: block;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  position: relative;
  text-align: center;
  padding: 52px 10px 31px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
}
.productsContent h2 {
  width: 100%;
}

.productItemImg {
  width: 100px;
  height: 100px;
}

.productItemTitle {
  padding: 14px 0 20px;
}

.productItemPrice {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
}
.productItemBasket {
  position: absolute;
  width: 60px;
  height: 40px;
  background-color: #fff;
  background: #1c62cd;
  border-radius: 10px 0 0 0;
  border: none;
  bottom: 0;
  right: 0;
  padding-top: 7px;
  cursor: pointer;
}
